header {
    // color: $textPr;
    font-size: $fontSize;

    // TOP: brand logo
    #logo {
        text-align: center;
    }

    // BTM: nav menu
    #main-menu {
        text-align: center;
    }

} // fine header
