header {
    background-color: red;
    // color: $textPr;
    font-size: $fontSize;

    // TOP: brand logo
    #logo {
        background-color: orange;
    }

    // BTM: nav menu
    #main-menu {
        background-color: orange;
    }

} // fine header
